* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}




/* PHOTOGRAPH HEADER */

.photograph-header {
    min-height: 250px;
    padding: 1rem 1.5rem;
    background-color: #FAFAFA;
    margin: 16px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#photograph-description {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
}

#photograph-description h1 {
    color: #D3573C;
    font-size: 3rem;
    font-weight: 500;
    padding: .1rem;
    line-height: .9;
}

#photograph-description .location {
    color: #901C1C;
    font-size: 20px;
}

#photograph-description .citation {
    font-size: .9rem;
    padding-top: 1rem;
    color: #525252;
}

.photograph-header #button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photograph-header #button :hover {
    background-color: #DB8876;
    color: inherit;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header .profil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.photograph-header .profil img {
    height: 200px;
    width: 200px;
    padding: .5rem;
    border-radius: 50%;
    object-fit: cover;
}





/* MENU DEROULANT */

.liste {
    margin-top: 20px;
}

nav {
  margin: 10px 100px;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
    font-weight: bold;
}

nav > ul {
    display: flex;
    text-align: center;
    height: 3rem;
    width: 8rem;
    font-size: 14px;
    background-color: #901C1C;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
}

nav > ul > li {
    position: relative;
    height: 100%;
    flex: 1;
}


nav > ul > li > a {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: white;
}

.menu-deroulant > a:after {
    content: ">";
    transform: rotate(90deg);
    font-size: 14px;
    margin-left: 20px;
    display: inline-block;
}

.sous-menu {
    margin-top: 2.75rem;
    width: 100%;
    text-align: left;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    max-height: 0;
}

.topline {
    width: 7rem;
    height: 2px;
    margin: 0 .5rem;
    border-top: 1px solid white;
}

.sous-menu > li > a {
    height: 2.5rem;
    padding-left: 18px;
    width: 100%;
    align-items: center;
    display: flex;
}

.menu-deroulant:hover > a:after {
    animation: rotationFleche 0.2s linear forwards;
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
}

@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

@keyframes apparitionSousMenu {
    0% {
        background-color: #901C1C;
    }
    100% {
        max-height: 25rem;
        background-color: #901C1C;
    }
}

/* .menu-deroulant {
    margin: 10px 100px;
}


.menu-deroulant label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
}

.menu-deroulant select {
    height: 3rem;
    width: 8rem;
    font-size: .9rem;
    color: white;
    background-color: #901C1C;
    padding-left: 10px;
    border-radius: 5px;
}

.menu-deroulant select:focus {
    outline: none;
}

#order-by option {
    height: 1rem;
    border-top: 1px solid white;
} */








/* PHOTOGRAPHER MEDIA */

.media {
    margin: 60px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.media-photograph {
    text-decoration: none;
}

.media .media-picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.media img {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    object-fit: cover;
}

.media .info {
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
    font-size: 20px;
    color: #901C1C;;
}

.price {
    width: 20rem;
    height: 3rem;
    margin-right: 2rem;
    padding: 1rem;
    font-weight: bold;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* MODAL */

#contact_modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.04);
    position: absolute;
    top: 5rem;
    width: 100%;
    height: auto;
    z-index: 1;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal button {
    border: none;
    background: none;
    align-self: flex-start;
}

.modal img {
    cursor: pointer;
    align-self: flex-start;
    padding-top: 1.5rem;
    width: 2.5rem;
}

#header-form h1 {
    color: inherit;
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1;
}

.modal header #modal-profil {
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-top: .5rem
    ;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

form small {
    color: red;
	font-size: 16px;
	font-weight: 300;
}

form input:focus {
    outline: none;
}

form #message {
    height: 170px;
}

/* form textarea {
        border-radius: 5px;
} */



/* MEDIA QUERIES */

@media screen and (max-width: 540px) {
    .modal {
        width: 90%;
        padding: 32px 10px;
    }

    .modal header {
        flex-direction: row;
    }

    #header-form {
        width: 100%;
    }

    #header-form h1 {
        font-size: 2rem;
        text-align: left;
        margin: 0 0 0.6rem 0;
    }

    .modal header img {
    cursor: pointer;
    align-self: flex-start;
    padding-top: .3rem;
    width: 1.5rem;
    }

    form label {
        font-size: 2rem;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
    .modal {
        width: 70%;
        padding-bottom: 2rem;
    }

    #header-form h1 {
        font-size: 2.3rem;
        text-align: left;
        margin: 0 0 0.6rem 0;
    }

    .modal header img {
        padding-top: .9rem;
        width: 1.5rem;
    }
}


@media screen and (max-width: 767px) {
    .photograph-header, #photograph-description, .profil {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    #photograph-description header {
        justify-content: space-around;
    }

    nav {
        margin: 0.63rem 1rem;
    }

    .media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 4rem 1rem;
        gap: 2rem;
    }

    .media img {
        width: 14rem;
        height: 14rem;
    }

    .price {
        margin-right: 0;
        width: 15rem;
    }

    #header-form h1 {
        margin: 0 0 0.6rem 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .modal {
        width: 60%;
        padding-bottom: 2rem;
    }

    #header-form h1 {
        font-size: 2.8rem;
        margin: 0 0 0.6rem 0;
    }

    .modal header img {
        padding-top: .6rem;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1333px) {
    #header-form h1 {
        font-size: 2.8rem;
        margin: 0 0 0.6rem 0;
    }
}

@media screen and (min-width: 1225px) {
    .modal {
        width: 50%;
        padding-bottom: 2rem;
    }
    .media img {
        width: 23rem;
        height: 23rem;
    }
} 