* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* ------------------------------------ PHOTOGRAPH HEADER  ------------------------------------ */

.photograph-header {
  min-height: 250px;
  padding: 1rem 1.5rem;
  background-color: #fafafa;
  margin: 16px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#photograph-description {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
}

#photograph-description h1 {
  color: #d3573c;
  font-size: 3rem;
  font-weight: 500;
  padding: 0.1rem;
  line-height: 0.9;
}

#photograph-description .location {
  color: #901c1c;
  font-size: 20px;
}

#photograph-description .citation {
  font-size: 0.9rem;
  padding-top: 1rem;
  color: #525252;
}

.photograph-header #button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photograph-header #button :hover {
  background-color: #db8876;
  color: inherit;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header .profil-photographers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profil-photographers img {
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}

/* ------------------------------------ LIGHTBOX  ------------------------------------ */

#body-container {
  display: none;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
}
.wrapper {
  max-width: 1100px;
}

.wrapper .gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.gallery .image {
  padding: 7px;
  width: 33%;
}

.gallery .image img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.preview-box {
  position: fixed;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  background: white;
  opacity: 1;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}

.preview-box .img-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.img-lightbox {
  width: 100%;
  height: auto;
  padding: 1rem 4rem;
}

.img-box .slide {
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #901c1c;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.img-box .slide.prev {
  left: 10px;
}

.img-box .slide.next {
  right: 10px;
}

.img-box .icon {
  color: #901c1c;
  cursor: pointer;
  position: absolute;
  top: 7%;
  right: 10px;
  z-index: 3;
  transform: translateY(-50%);
  font-size: 35px;
  cursor: pointer;
  color: #901c1c;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.preview-box .img-box img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
}

.preview-box .img-box video {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 5px;
}

.img-box .details {
  padding-top: 10px;
  color: #901c1c;
}

.details .title {
  font-size: 1.8rem;
  font-weight: 400;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

/* ------------------------------------ MENU DEROULANT  ------------------------------------ */

.liste {
  display: flex;
  justify-content: space-between;
  width: 218px;
  margin: 20px auto auto 100px;
}

.liste p {
  align-self: center;
}

.menu {
  width: 140px;
  border-radius: 5px;
  background-color: #901c1c;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  color: white;
}

.fa-chevron-down {
  font-size: 0.8rem;
}

.fa-chevron-up {
  display: none;
  font-size: 0.8rem;
}

.dropdown {
  display: none;
  position: absolute;
  width: 140px;
  height: 95px;
  margin: -4px 0 0 0;
  border-radius: 0 0 5px 5px;
  color: white;
  background-color: #901c1c;
}

.dropdown .date {
  width: 120px;
  margin-left: 0.5rem;
  padding: 0.8rem 0.5rem;
  border-top: 1px solid white;
}

.dropdown .titre {
  width: 120px;
  margin-left: 0.5rem;
  padding: 0.8rem 0.5rem;
  border-top: 1px solid white;
}

.category {
  cursor: pointer;
}

/* ------------------------------------ PHOTOGRAPHER MEDIA  ------------------------------------ */

.media {
  margin: 60px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.media-photograph {
  text-decoration: none;
}

.media .media-card {
  margin-bottom: 1rem;
  overflow: hidden;
  width: 15rem;
}

.media .media-card img {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.media .media-card video {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.media .media-card .info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #901c1c;
  overflow: hidden;
  width: 100%;
}

.media-card .info .info-title {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info .info-like {
  display: flex;
  width: 25%;
  justify-content: flex-end;
  align-items: center;
}

/* ------------------------------------ LIKE ------------------------------------ */
.info .info-like .likes {
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
  cursor: pointer;
  border: none;
  background: url(../assets/icons/like.svg);
}

.dislikes {
  width: 1rem;
  height: 1rem;
  margin-left: 3px;
  cursor: pointer;
  border: none;
  background: url(../assets/icons/dislike.svg);
}

/* ------------------------------------ BANNER PRICE ------------------------------------ */

.price-banner {
  width: 20rem;
  height: 3rem;
  margin-right: 2rem;
  padding: 1rem;
  font-weight: bold;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-banner #like .fa-heart {
  margin-left: 5px;
}

/* ------------------------------------ MODAL CONTACT ------------------------------------ */

#contact_modal {
  display: none;
  position: absolute;
  top: 5rem;
  width: 100%;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal #close {
  border: none;
  background: none;
  align-self: flex-start;
}

.modal img {
  cursor: pointer;
  align-self: flex-start;
  padding-top: 1.5rem;
  width: 1.8rem;
}

#header-form h1 {
  color: inherit;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.modal header #modal-profil {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-top: 0.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

form small {
  color: red;
  font-size: 16px;
  font-weight: 300;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form #message {
  height: 170px;
  resize: none;
}

form textarea {
  width: 100%;
  height: 68px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

.shadow-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* ------------------------------------ MEDIA QUERIES  ------------------------------------ */

@media screen and (min-width: 320px) and (max-width: 374px) {
  /*----- LIGHTBOX -----*/

  .img-lightbox {
    padding: 1rem;
  }

  .preview-box .img-box img {
    max-width: 95%;
  }

  .preview-box .img-box video {
    max-width: 95%;
  }

  .preview-box .details {
    padding: 0;
  }

  .img-box .icon {
    top: 12%;
    right: 0;
    display: flex;
    width: 25px;
    height: 25px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .img-box .slide {
    width: 25px;
    font-size: 25px;
  }

  .img-box .slide.prev {
    left: 0;
  }

  .img-box .slide.next {
    right: 0;
  }

  .img-box .details {
    margin-left: 0.4rem;
  }

  .details .title {
    font-size: 1rem;
  }

  /*----- MODAL FORM -----*/

  .modal {
    padding: 1rem;
  }

  #header-form h1 {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 0.6rem 0;
  }

  form label {
    font-size: 1.5rem;
  }

  form input {
    height: 50px;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  /*----- LIGHTBOX -----*/

  .img-lightbox {
    padding: 2rem;
  }

  .img-box .icon {
    top: 12%;
    right: 0;
    display: flex;
    width: 25px;
    height: 25px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  .img-box .slide {
    width: 25px;
    font-size: 25px;
  }

  .img-box .slide.prev {
    left: 0;
  }

  .img-box .slide.next {
    right: 0;
  }

  .preview-box .details {
    padding: 0;
    margin: 0;
  }

  .details .title {
    font-size: 1rem;
  }

  /*----- MODAL FORM -----*/

  .modal {
    padding: 1.5rem;
  }

  #header-form h1 {
    font-size: 1.8rem;
    text-align: left;
    margin: 0 0 0.6rem 0;
  }

  form label {
    font-size: 1.8rem;
  }

  form input {
    height: 55px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  /*----- LIGHTBOX -----*/

  .img-lightbox {
    padding: 1rem 3rem;
  }

  .img-box .slide {
    width: 25px;
    font-size: 30px;
  }

  .img-box .slide.prev {
    left: 10px;
  }

  .img-box .slide.next {
    right: 10px;
  }

  .img-box .icon {
    width: 30px;
    right: 10px;
    font-size: 25px;
    top: 7%;
  }

  .img-box .details {
    margin-left: 0;
  }

  .details .title {
    font-size: 1.5rem;
  }

  /*----- MODAL FORM -----*/

  .modal {
    padding: 2rem;
  }

  #header-form h1 {
    font-size: 2rem;
    text-align: left;
    margin: 0 0 0.6rem 0;
  }

  form label {
    font-size: 2rem;
  }

  form input {
    height: 60px;
  }
}

@media screen and (max-width: 540px) {
  /*----- MODAL FORM -----*/

  .modal {
    width: 90%;
  }

  .modal header {
    flex-direction: row;
  }

  #header-form {
    width: 100%;
  }

  #header-form h1 {
    text-align: left;
  }

  .modal header img {
    cursor: pointer;
    align-self: flex-start;
    padding: 0.3rem 0;
    width: 1.5rem;
  }

  /*----- PRICE BANNER -----*/

  .price-banner {
    width: 13rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 541px) and (max-width: 768px) {
  /*----- MODAL FORM -----*/

  .modal {
    width: 70%;
    padding-bottom: 2rem;
  }

  #header-form h1 {
    font-size: 2.3rem;
    text-align: left;
    margin: 0 0 0.6rem 0;
  }

  .modal header img {
    padding: 0.9rem 0;
    width: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  /*----- PHOTOGRAPH HEADER-----*/

  .photograph-header,
  #photograph-description,
  .profil-photographers {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  #photograph-description header {
    justify-content: space-around;
  }

  /*----- DROPDOWN -----*/

  .liste {
    margin: 20px auto auto 1rem;
  }

  /*----- MEDIA -----*/

  .media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 1rem;
    gap: 2rem;
  }

  .media .media-card {
    width: 14rem;
  }

  .media .media-card img {
    width: 14rem;
    height: 14rem;
  }

  .media .media-card video {
    width: 14rem;
    height: 14rem;
  }

  /*----- PRICE BANNER -----*/

  .price {
    margin-right: 0;
    width: 15rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  /*----- LIGHTBOX -----*/

  .img-box .icon {
    top: 7%;
  }

  .img-box .details {
    margin-left: 0;
  }

  /*----- MODAL FORM -----*/

  .modal {
    width: 60%;
    padding-bottom: 2rem;
  }

  #header-form h1 {
    font-size: 2.8rem;
    margin: 0 0 0.6rem 0;
  }

  .modal header img {
    padding: 0.6rem 0;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1333px) {
  /*----- MODAL FORM -----*/

  #header-form h1 {
    font-size: 2.8rem;
    margin: 0 0 0.6rem 0;
  }
}

@media screen and (min-width: 1225px) {
  /*----- MODAL FORM -----*/

  .modal {
    width: 50%;
    padding-bottom: 2rem;
  }

  /*----- MEDIA -----*/

  .media .media-card {
    width: 23rem;
  }

  .media .media-card img {
    width: 23rem;
    height: 23rem;
  }

  .media .media-card video {
    width: 23rem;
    height: 23rem;
  }
}
